body {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  justify-content: flex-start; /* Align content to the top */
  align-items: center; /* Center horizontally */
  font-size: 4rem;
  min-height: 600px;
  overflow: hidden;
  background-color: transparent;
}

h4 {
  font-style: italic;
  position: relative;
  font-weight: 200;
  font-size: 1.5rem;
  letter-spacing: 5px;
  color: #fff;
  width: 100%;
  text-align: center;
  line-height: 3rem;
  outline: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transition: color 1s, text-shadow 0.3s; /* Smooth transition for non-hover state */
}
h4:hover {
  /* Trigger animation on hover */
  animation: animate 3s; /* Duration and repeat setting */
}
/* Keyframes definition */
@keyframes animate {
  18.1%,
  20.1%,
  30%,
  50%,
  60%,
  65%,
  80.1%,
  90%,
  92.1%,
  100% {
    color: #fff;
    text-shadow: 0 0 10px #03bcf4, 0 0 20px #03bcf4, 0 0 30px #03bcf4,
      0 0 35px #03bcf4, 0 0 40px #03bcf4;
  }
}

.value {
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: 5px;
  line-height: 2.5rem;
  text-transform: uppercase;
}
.input-wrapper {
  margin-top: 1rem;
  display: flex;
  gap: 15px; /* Space between input fields and button */
}

.page-wrapper {
  text-align: center; /* Center-align the results text */
}

input[type="text"],
input[type="number"] {
  padding: 10px 15px;
  border: 2px solid #fff;
  border-radius: 50px;
  background: transparent;
  color: #fff;
  font-size: 16px;
  outline: none;
  text-align: center;
}

input[type="text"]::placeholder,
input[type="number"]::placeholder {
  color: #bbb;
}

button {
  padding: 11px 20px;
  border: none;
  border-radius: 50px;
  background: #fff;
  color: #000;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ddd;
}
