body {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  justify-content: flex-start; /* Align content to the top */
  align-items: center; /* Center horizontally */
  font-size: 4rem;
  min-height: 600px;
  overflow: hidden;
  background-color: transparent;
}

#counter-value {
  margin-bottom: 20px;
  margin-top: 5rem;
  position: relative;
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: 5px;
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  line-height: 3.5rem;
  outline: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transition: color 1s, text-shadow 0.3s; /* Smooth transition for non-hover state */
}
#counter-value:hover {
  /* Trigger animation on hover */
  animation: animate 3s; /* Duration and repeat setting */
}
/* Keyframes definition */
@keyframes animate {
  18.1%,
  20.1%,
  30%,
  50%,
  60%,
  65%,
  80.1%,
  90%,
  92.1%,
  100% {
    color: #fff;
    text-shadow: 0 0 10px #03bcf4, 0 0 20px #03bcf4, 0 0 30px #03bcf4,
      0 0 35px #03bcf4, 0 0 40px #03bcf4;
  }
}

.input-wrapper {
  margin-top: 1rem;
  display: flex;
  gap: 15px; /* Space between input fields and button */
}

.page-wrapper {
  text-align: center; /* Center-align the results text */
}

input[type="text"],
input[type="number"] {
  padding: 10px 15px;
  border: 2px solid #fff;
  border-radius: 50px;
  background: transparent;
  color: #fff;
  font-size: 16px;
  outline: none;
  text-align: center;
}

input[type="text"]::placeholder,
input[type="number"]::placeholder {
  color: #bbb;
}

button {
  padding: 11px 20px;
  border: none;
  border-radius: 50px;
  background: #fff;
  color: #000;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ddd;
}

/* Slider */
.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 30px 0 30px 0;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 300px;
  height: 8px;
  background: #bdc3c7; /* Light gray slider track */
  border-radius: 5px;
  outline: none;
  transition: background 0.3s ease;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff; /* Dark blue thumb */
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

input[type="range"]::-webkit-slider-thumb:hover {
  background: #fff; /* Lighter blue thumb on hover */
}

#slider {
  width: 400px; /* Adjust the width as needed */
  height: 8px; /* Adjust the height for better visibility */
  background: #bdc3c7;
  appearance: none;
  outline: none;
}

#slider::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  background: #03bcf4;
  border-radius: 50%;
  cursor: pointer;
}

#slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: linear-gradient(to right, #03bcf4, #fff);
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s ease;
}

#slider:active::-webkit-slider-thumb {
  background-color: #066785;
}

#slider:active::-moz-range-thumb {
}

/* Responsiveness */
@media (max-width: 480px) {
  input[type="range"] {
    width: 200px; /* Adjust slider size for smaller screens */
  }

  button {
    font-size: 0.9rem;
    padding: 8px 15px;
  }

  #counter-value {
    font-size: 2.5rem;
  }

  #slider-value {
    font-size: 1.3rem;
  }
}

#counter-ref {
  font-size: 1rem;
  color: #bdc3c7; /* Matches the counter display for consistency */
  font-weight: 200;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
